.servicos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 800px;
    border-bottom: 1px solid black;
}

.container-servicos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    z-index: 1;
}

.container-servicos .card-servicos {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(145deg, black, #131316);
    border-radius: 8px;
    overflow: hidden;
    user-select: none !important;
}


.container-servicos .card-servicos .content {
     padding: 20px;
     text-align: center;
     transition: 0.5s;
     display: grid;
     height: 100%;
     grid-template-rows: repeat(3, 150px 150px 50px);
     border: 1px solid rgba(0, 0, 0, 0.3);
     border-radius: 8px;
     row-gap: 10px;
}

.container-servicos .card-servicos .content .content-header {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Cabecalho onde fica a imagem do header */
.container-servicos .card-servicos .content .content-header .content-header-image {
    width: 170px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #131316, #130F40, rgb(97, 47, 138));
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.container-servicos .card-servicos .content .content-header .content-header-image img{
    width: 130px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: auto;
}

.container-servicos .card-servicos .content .content-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
}

.container-servicos .card-servicos .content .content-content h1 {
    text-align: justify;
    color: white;
    width: 100%;
    font-size: large;
}

.container-servicos .card-servicos .content .content-content p {
    text-align: justify;
    width: 100%;
    font-size: 12px;
    color: rgb(190, 190, 190);
    padding-right: 20px;
}

.container-servicos .card-servicos .content .content-footer button{
    width: 150px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    font-size: small;
    height: 30px;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    background: linear-gradient(170deg, #131316, #130F40);
    transition: 0.3s;
}

.container-servicos .card-servicos .content .content-footer button:hover {
    transform: scale(1.05);
}

.header-services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-services h1{
    color: black;
    font-family: 'Poppins', sans-serif;
}

.header-services p {
    color: black;
    font-family: 'Poppins', sans-serif;
}