#row {
    background-color:white;
}

#row h1 {
    color: black;
}

#row p {
    color: black;
}

#container-fluid {
    background-image: linear-gradient(to bottom, rgb(172, 84, 255), purple);
}

#container-fluid-hedaer {
    min-height: 200px;
    background-color: #0478b1ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

#cards-container {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

#container-fluid-hedaer h1,
#container-fluid-hedaer p {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container-fluid-hedaer h1 {
    font-weight: 900;
}

#container-fluid-hedaer p {
    color: rgba(255, 255, 255, 0.9);
}

#prices {
    border: none !important;
}

#prices-desc {
    height: auto;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:  0!important;
    align-items: center;
    box-shadow: 0 0 2px black;
    margin: 5px;
    border-radius: 5px;
    /* background-image: linear-gradient(150deg, rgb(144, 0, 255), rgb(255, 0, 106)); */
    background-color: #ff735cff;
}

#prices-desc a {
    color: white;
    font-size: 18px;
    margin: 5px 0;
}

#card-header {
    font-weight: 900;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    text-align: end;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#prices-desc p {
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    min-width: 50%;
    padding: 0 10px;
}

#containerImagen {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100%;
    max-height: 80% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-description {
    width: 100%;
    min-height: 150px;
    line-height: 1.5;
    background-color: #ff735cff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: white !important;
    text-align: justify;
}

@media screen and (max-width: 700px) {
    #prices-desc {
        height: auto;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding:  0!important;
        align-items: center;
        box-shadow: 0 0 2px black;
        margin: 5px;
        border-radius: 5px;
        /* background-image: linear-gradient(150deg, rgb(144, 0, 255), rgb(255, 0, 106)); */
        background-image: linear-gradient(150deg, rgb(78, 1, 138), rgb(140, 0, 255));
    }
}