.card-servicos {
    position: relative;
    height: 200px;
    background: linear-gradient(145deg, black, #131316);
    border-radius: 8px;
    overflow: hidden;
    user-select: none;
}

.card-servicos .content {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    display: grid;
    height: 100%;
    grid-template-rows: 150px 150px 50px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    row-gap: 10px;
}

.col-sm-6 {
    background-color: orangered;
    color: white;
}

.card-servicos .content .content-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-servicos .content .content-header .content-header-image {
    width: 170px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #131316, #130F40, rgb(97, 47, 138));
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.card-servicos .content .content-header .content-header-image img {
    width: 130px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: auto;
}

.card-servicos .content .content-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
}

.card-servicos .content .content-content h1 {
    text-align: justify;
    color: white;
    width: 100%;
    font-size: large;
}

.card-servicos .content .content-content p {
    text-align: justify;
    width: 100%;
    font-size: 12px;
    color: rgb(190, 190, 190);
    padding-right: 20px;
}

.card-servicos .content .content-footer button {
    width: 150px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    font-size: small;
    height: 30px;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    background: linear-gradient(170deg, #131316, #130F40);
    transition: 0.3s;
}

.card-servicos .content .content-footer button:hover {
    transform: scale(1.05);
}

.texto-header-servicos {
    margin-top: 100px;
}

.texto-header-servicos h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.texto-header-servicos p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(94, 94, 94);
}

#textDescription {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: large;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    min-height: 200px;
}

#textPreco {
    height: 180px;
    padding: 10px 0;
}

.cardPreco1, .cardPreco2 {
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
    transition: 0.3s;
}

.cardPreco1 {
    background-color: white;
}

.cardPreco2 {
    background-color: orangered;
    color: white;
}

.cardPreco1 h1, .cardPreco2 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardPreco1 p, .cardPreco2 p {
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.cardPreco1:hover, .cardPreco2:hover {
    transform: scale(1.04);
    margin-bottom: 10px;
    cursor: pointer;
}

.cardPreco1:hover {
    background-color: #ff073d;
    color: white;
}

.cardPreco2:hover {
    background-color: white;
    color: black;
}
