#fundo-plane{
    background-color: #1c1c1c; /* Fundo mais escuro para um visual moderno */
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  
  #planes-card {
    background-color: rgb(228, 228, 228);
    border: 1px solid rgba(28, 28, 28, 0.1);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2) !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  #planes-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }
  
  #planes-card-header {
    background-color: #353d47;
    color: #8ce140;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 12px 12px 0 0;
  }

  #planes-card-body {
    background-color: white;
    color: black;
  }
  
  #planes-card-body ul {
    padding-left: 0;
  }
  
  #planes-card-body ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #planes-card-footer {
    background-color: #353d47;
    padding: 20px;
    border-radius: 0 0 12px 12px;
    user-select: none;
  }
  
  #planes-card-footer h4 {
    color: #e0e0e0;
  }

  #plane-price-before {
    color: tomato;
  }

  #plane-price-after {
    color: lightgreen;
    animation: aumentar 3s infinite ease;
  }
  
  @keyframes aumentar {
    0% {
      transform: scale(1);
      color: lightgreen;
    }
    50% {
      transform: scale(1.2);
      color: rgb(119, 205, 119);
    }
    100% {
      transform: scale(1);
      color: lightgreen;
    }
  }
  
  .btn-primary {
    background-image: linear-gradient(to bottom, rgb(65, 207, 255), #1100ff);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 12px;
    transition: 0.3s ease;

  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }
  