#footer {
    background-color: rgb(28, 20, 37);
    color: #fff;
    position: relative;
    overflow: hidden;
}


@keyframes girar {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

#footer a {
    color: #fff;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#footer .fab {
    font-size: 1.5rem;
}

#copiright-container {
    z-index: 1 !important;
}

#copiright-container p{
    z-index: 1 !important;
}